div{
    width: 200px;
    height: 200px;
}

.topContainer {
    background-color: blue;
    color: white;
    border: black solid 10px;
    padding: 20px;
}

.midContainer{
    background-color: yellow;
    border: black solid 20px;
    margin-left: 200px;
}

.botContainer{
    background-color: red;
    color: white;
    border: black solid 10 px;
    margin-left: 500px;
}